/* General Styles */
a {
  text-decoration: none;
  color: white;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.nav-link {
  padding: 18px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Hover Effects */
.nav-link:hover, 
.navbar-brand:hover {
  color: #007bff; /* Adjust for a hover color contrast */
  border-bottom: 3px solid yellow;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .nav-link {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
